.gray-1 {
  color: #333333;
}

.gray-2 {
  color: #4F4F4F;
}

.gray-3 {
  color: #828282;
}

.gray-4 {
  color: #BDBDBD;
}

.gray-5 {
  color: #E0E0E0;
}

.gray-6 {
  color: #F2F2F2;
}

.red {
  color: #EB5757;
}

.orange {
  color: #F2994A;
}

.yellow {
  color: #F2C94C;
}

.green-1 {
  color: #219653;
}

.green-2 {
  color: #27AE60;
}

.green-3 {
  color: #6FCF97;
}

.blue-1 {
  color: #2F80ED;
}

.blue-2 {
  color: #2D9CDB;
}

.blue-3 {
  color: #56CCF2;
}

.purple-1 {
  color: #9B51E0;
}

.purple-2 {
  color: #BB6BD9;
}
