@value colors: './../../theme/colors.module.css';
@value typography: './../../theme/typography.module.css';
@value gray-3, gray-6 from colors;
@value size-medium, weight-heavy, family-stylized from typography;

.root {
  background-color: gray-3;
  color: gray-6;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
}

.listItem {
  font-size: size-medium;
  font-weight: weight-heavy;
  font-family: family-stylized;
  padding: 0 15px;
}

